<div class="outer">
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="my-4">Forgot Password</h2>
        <form (ngSubmit)="sendOTP()" *ngIf="!showResetPasswordForm">
          <div class="form-group">
            <label for="emailOrPhone">Email or Phone:</label>
            <input type="text" id="emailOrPhone" name="emailOrPhone" [(ngModel)]="emailOrPhone" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Send OTP</button>
        </form>
  
        <form (ngSubmit)="resetPassword()" *ngIf="showResetPasswordForm">
          <div class="form-group">
            <label for="otp">OTP:</label>
            <input type="text" id="otp" name="otp" [(ngModel)]="otp" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
